<% @websites.each do |website| %>
  <h3>URL: <% website.url %></h3>
  <h3>H1: <% website.h1 %></h3>
  <h3>H2: <% website.h2 %></h3>
  <h3>H3: <% website.h3 %></h3>
  <h3>A: <% website.links %></h3>
<% end %>
